---
title: Tags
layout: page
section-type: tags
---
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            {% capture tags %}
            {% for tag in site.tags %}
            {{ tag[1].size | plus: -10000 }}###{{ tag[0] | replace: ' ', '##' }}###{{ tag[1].size }}
            {% endfor %}
            {% endcapture %}
            {% assign sorted_tags = tags | split: ' ' | sort %}

            <ul class="tags">
                <a class="text-muted">Tag cloud:</a>
                {% for sorted_tag in sorted_tags %}
                {% assign items = sorted_tag | split: '###' %}
                {% assign tag = items[1] | replace: '##', ' ' %}
                <a href="#{{ tag | slugize }}">{{ tag }}</a>
                {% endfor %}
            </ul>

            <div class="blog-archives">
                {% for tag in site.tags %}
                {% capture tag_name %}{{ tag | first }}{% endcapture %}
                <h3 class="tag_name" id="{{ tag_name | slugize }}">{{ tag_name }}</h3>

                {% for post in site.tags[tag_name] %}
                <article>
                    <a href="{{ root_url }}{{ post.url }}">{{post.title}}</a><small class="text-muted"> {{ post.date | date_to_string }}</small>
                </article>
                {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
