{% if site.navigation %}
<div class="navigation">
    <ul class="link">
        {%- for item in site.navigation %}
        <li><a href="{{ item.link }}">{{ item.icon }} {{ item.name }}</a>
            {% if item.sublist %}
            <ul class="sublist">
                {%- for subitem in item.sublist %}
                <li><a href="{{ subitem.link }}">{{ subitem.icon }} {{ subitem.name }}</a></li>
                {%- endfor %}
            </ul>
            {% endif %}
        </li>
        {%- endfor %}
    </ul>
</div>
{% endif %}
