<article class="card post excerpt">
  <small><time datetime="{{ post.date }}">{{ post.date | date: "%-d %B %Y" }}</time></small>
  <h3><a href="{{ post.url }}">{{ post.title }}</a></h3>
  <p class="view">by {{ post.author | default: site.author }}</p>

  {% include cover-image.html %}

  <div class="clearfix">
    <section class="excerpt">
      {{ post.excerpt }}
    </section>

    <p class="readmore"><a href="{{ post.url }}">Read more...</a></p>

    {% if post.tags %}
    <section class="tags">
      <small>tags: <em>{{ post.tags | join: "</em> - <em>" }}</em></small>
    </section>
    {% endif %}
  </div>
</article>
