aside.aside {
  .aside-title {
    font-size: larger;
    font-weight: bold;

    i {
      margin-right: 5px;
    }
  }

  .aside-content {
    *:last-child {
      margin-bottom: 0px;
    }
  }

  &[data-type="caution"] {
    background-color: #FAF7BE;
    border-color: #EFBA00;
  }

  &[data-type="note"] {
    background-color: #BBE0FF;
    border-color: #0C66DC;
  }

  &[data-type="social"] {
    background-color: #F2E7FD;
    border-color: #DCB2FF;
  }

  border: 1px solid;
  border-radius: 4px;
  color: black;
  padding: 15px;
  margin: 20px 0;
}
