article.post {
  .cover {
    padding: 0;

    &.full img {
      width: 100%;
    }

    &.left {
      float: left;
      padding: 0 20px 20px 0;
      min-height: 140px;
      min-width: 140px;
    }
  }

  figure {
    p { margin: 0; }
    figcaption {
      background: none;
      font-weight: lighter;
      opacity: 0.5;
      text-align: center;
    }

    margin-bottom: 5px;
  }

  section {
    float: unset;
    padding: unset;
    width: unset;
  }

  float: unset;
  width: unset;
}
