
<!-- Portfolio Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

{% include head.html %}

<body>

{% include navigation.html %}

<div class="portfolio-content">
    <section id="{{page.title | downcase }}" class="container content-section text-justify">

        <h1><strong>{{ page.title }}</strong></h1>
        <div class="portfolio-tags">
            {% include portfolio-tags.html %}
        </div>

        {{ content }}
    </section>
</div>

{% include footer.html %}

{% include js.html %}

</body>
</html>

<!-- Portfolio Layout End -->
