---
layout: default
---
<article class="post full">
  <small><time datetime="{{ page.date }}}">{{ page.date | date: "%-d %B %Y" }}</time></small>
  <h1>{{ page.title }}</h1>

  <p class="view">by {{ page.author | default: site.author }}</p>

  {% if page.cover.image or page.image  %}
  <section class="cover {{ page.cover.type | default: 'full' }}">
    <img alt="{{ page.cover.title | default: page.title }}"
         class="cover-image"
         src="{{ page.cover.image | default: page.image }}" />
  </section>
  {% endif %}

  <section class="content">
    {{ content }}
  </section>

  {% if page.tags %}
    {% assign post = page %}
    {% include post-tags.html %}
  {% endif %}
</article>
